<div class="lg-container">
  <div class="row">
    <div class="column column-responsive">
      <div class="bg-column">
        <div class="main-title animated fadeIn">90%<sup>*</sup> des Français se déclarent favorables à l’euthanasie !</div>
        <button onclick="location.href='#/france';" class="btn-big-blue animated fadeIn btn-responsive" >FAiTES-LE SAVOIR AUX (FUTURS !) ÉLUS ...</button>
        <div class="sub-text animated fadeIn">* Sondage ifop paru en avril 2015</div>
      </div>
    </div>
  </div>
</div>
 <!-- ID MENEO -->
<div id="dialog" >
	<div id="dialog_inner">
		<div id="step1" class="animated fadeInDown">
			 <span id="interpellation" >
				Pour interpeller les candidat.e.s <br> &agrave; l'&eacute;lection pr&eacute;sidentielle,
			 </span>
			 <a href="#step2" class="btn-big-skyblue change">je clique ici</a>
		 </div>
		 <div id="step2" style="display: none" class="pane">
			<Strong>Cliquez sur le candidat <br />de votre choix</Strong>
			<a class="image_candidat change" href="#narthaud"><div class="marge"><img src="images/narthaud.jpg" alt="Hartaud" /></div></a> 
			<a class="image_candidat change" href="#asselineau"><div class="marge"><img src="images/asselineau.jpg" alt="Asselineau" /></div></a> 
			<a class="image_candidat change" href="#cheminade"><div class="marge"><img src="images/cheminade.jpg" alt="Cheminade" /></div></a> 
			<a class="image_candidat change" href="#ndupont-aignan"><div class="marge"><img src="images/ndupont-aignan.jpg" alt="Dupont-Aignan" /></div></a> 
			<a class="image_candidat change" href="#ffillon"><div class="marge"><img src="images/ffillon.jpg" alt="Fillon" /></div></a> 
			<a class="image_candidat change" href="#bhamon"><div class="marge"><img src="images/bhamon.jpg" alt="Hamon" /></div></a> 
			<a class="image_candidat change" href="#lassalle"><div class="marge"><img src="images/lassalle.jpg" alt="Lassalle" /></div></a> 
			<a class="image_candidat change" href="#mlepen"><div class="marge"><img src="images/mlepen.jpg" alt="Le Pen" /></div></a> 
			<a class="image_candidat change" href="#emacron"><div class="marge"><img src="images/emacron.jpg" alt="Macron" /></div></a> 
			<a class="image_candidat change" href="#jlmelenchon"><div class="marge"><img src="images/jlmelenchon.jpg" alt="Melanchon" /></div></a> 
			<a class="image_candidat change" href="#ppoutou"><div class="marge"><img src="images/ppoutou.jpg" alt="Poutou" /></div></a> 
			<a class="image_candidat" href="#"><div class="marge"><img src="images/ADMD2017.jpg" alt="ADMD" /></div></a> 
		 </div>
	
<!-- ARTHAUD -->	
		  <div id="narthaud" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Nathalie Arthaud</span>
						<span class="parti_candidat"  >(Lutte Ouvrière)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreArthaud.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Nathalie Arthaud</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Nathalie Arthaud <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@lutte-ouvriere.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />la candidate</a>
					<a href="mailto:contact@lutte-ouvriere.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>
		 
		 
		 
<!-- HAMON -->		 
		  <div id="bhamon" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image animated fadeInDown">
					<div class="notation">
						<span class="note_verte"></span>
						<span class="note_verte"></span>
						<span class="note_verte"></span>
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Beno&icirc;t Hamon</span>
						<span class="parti_candidat"  >(Parti Socialiste)</span>
						<span class="avis_candidat"  >Favorable</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreHamon.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Beno&icirc;t Hamon</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Beno&icirc;t Hamon <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@benoithamon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@benoithamon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>
		 
<!-- MACRON -->
		 <div id="emacron" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Emmanuel Macron</span>
						<span class="parti_candidat"  >(En Marche !)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreMacron.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Emmanuel Macron</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse d'Emmanuel Macron <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@en-marche.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@en-marche.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- FILLON -->		 
		 <div id="ffillon" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >François Fillon</span>
						<span class="parti_candidat"  >(Les Républicains)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreFillon.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; François Fillon</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de François Fillon <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:equipe@fillon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:equipe@fillon2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- MELANCHON -->		 
		 <div id="jlmelenchon" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_verte"></span>    
						<span class="note_verte"></span>    
						<span class="note_verte"></span>    
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Jean-Luc Mélenchon</span>
						<span class="parti_candidat"  >(La France Insoumise)</span>
						<span class="avis_candidat"  >FAVORABLE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreMelenchon.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Jean-Luc Mélenchon</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Jean-Luc Mélenchon <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@jlm2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@jlm2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- LEPEN -->		 
		 <div id="mlepen" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Marine Le Pen</span>
						<span class="parti_candidat"  >(Front National)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreLePen.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Marine Le Pen</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Marine Le Pen <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:marine.lepen@frontnational.com?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />la candidate</a>
					<a href="mailto:marine.lepen@frontnational.com?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Madame la Candidate,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>
		 
		
<!-- DUPONT-AIGNAN -->		 
		 <div id="ndupont-aignan" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Nicolas Dupont-Aignan</span>
						<span class="parti_candidat"  >(Debout la France)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreDupont-Aignan.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Nicolas Dupont-Aignan</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Nicolas Dupont-Aignan <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:courrier@debout-la-France.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:courrier@debout-la-France.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>

<!-- POUTOU -->		 
		 <div id="ppoutou" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Philippe Poutou</span>
						<span class="parti_candidat"  >(NPA)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettrePoutou.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Philippe Poutou</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Philippe Poutou <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:ecrire@npa2009.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:ecrire@npa2009.org?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>		 

<!-- ASSELINEAU -->		 
		 <div id="asselineau" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Fran&ccedil;ois Asselineau</span>
						<span class="parti_candidat"  >(Union Populaire Républicaine)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreAsselineau.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Fran&ccedil;ois Asselineau</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Fran&ccedil;ois Asselineau <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:contact@upr.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:contact@upr.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>
		 
<!-- CHEMINADE -->		 
		 <div id="cheminade" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Jacques Cheminade</span>
						<span class="parti_candidat"  >(Solidarité et Progrès)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreCheminade.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Jacques Cheminade</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Jacques Cheminade <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:presse@jacquescheminade2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:presse@jacquescheminade2017.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>
		 
<!-- CHEMINADE -->		 
		 <div id="lassalle" style="display: none" class="candidat">
			<div class="candidat_inner">
				<div class="candidat_image">
					<div class="notation">
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
						<span class="note_blanche"></span> 
					</div>
					<span class="retour"><</span>
					<div class="infos_candidat">
						<span class="nom_candidat"  >Jean Lassalle</span>
						<span class="parti_candidat"  >(Résistons !)</span>
						<span class="avis_candidat"  >EN ATTENTE DE RÉPONSE</span>
						<a class="telecharger_lettre" target="_blank"  href="docs/LettreLassalle.pdf">T&eacute;l&eacute;chargez la lettre du pr&eacute;sident de l'ADMD <br>&agrave; Jean Lassalle</a>
						<a class="telecharger_reponse" href="#" target="_blank" >T&eacute;l&eacute;chargez la r&eacute;ponse de Jean Lassalle <br>au pr&eacute;sident de l'ADMD</a>
						<a class="telecharger_sondage" href="docs/sondage_ifop.pdf" target="_blank" >T&eacute;l&eacute;chargez le sondage IFOP de mars 2017</a>
					</div>
				</div>
				<div class="liens_candidat">
					<a href="mailto:permanence-jean-lassalle@wanadoo.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A

Je soutiens la revendication de l’Association pour le Droit de Mourir dans la Dignité (ADMD) en faveur de la légalisation de l’aide active à mourir.%0D%0A%0D%0A

Bien  à vous,
" >Interpellez <br />le candidat</a>
					<a href="mailto:permanence-jean-lassalle@wanadoo.fr?cc=pouruneloideliberte@admd.net&subject=POUR UNE LOI DE LIBERTÉ : #Admd2017&Body=Monsieur le Candidat,%0D%0A%0D%0A(Vous pouvez à présent rédiger votre témoignage personnel)" >Envoyez <br />votre t&eacute;moignage</a>
				</div>
			</div>
		 </div>		 
		 
		 
		  
	</div>
</div>
<div id="merci" class="animated fadeInDown" style="display: none;" >
	<div id="merci_inner">
		<p class="main-title"   >Merci de votre participation à cette grande mobilisation citoyenne</p>
		<p>Pour poursuivre votre action, partagez sur <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.pouruneloideliberte.fr" target="_blank"><i class="fa fa-facebook" style="color: #3b5998"></i></a> et sur <a href="https://twitter.com/intent/tweet?url=http://pouruneloideliberte.fr&text=Faites comme moi, interpellez les candidats en 1 clic.&hashtags=PourUneLoiDeLiberte,FinDeVie,Admd2017,ParlonsFinDeVie" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> </p>
	</div>
</div>
<style>
	body.main-wrapper {
		background-attachment: fixed!important;
	}
	#dialog-overlay {
		/* background: rgba(255,255,255,0.8)!important; */
	}
	.ui-dialog button.ui-dialog-titlebar-close {
		background: rgba(255,255,255,0.8);
		width: 30px !important;
		height: 30px !important;
		padding: 5px !important;
		line-height: 20px;
		font-size: 18px;
		font-weight: bold;
		color: #0a1e3d;
		text-align: center;
		display: block;
		float: right;
		margin-right: -30px;
		border: solid 2px #0a1e3d;
		border-radius: 100%;
	}
	 
	/* Panneau #1 */
	#step1 {
		background: rgba(255,255,255,0.8);
		padding: 20px;
	}
	#interpellation {
		color: #0a1e3d;
		font-size: 30px;
		text-align: center;
		padding: 30px 15px;
		display: block;
		font-weight: bold;
		background: white;
	}
	.btn-big-skyblue {
		text-align: center;
		display: block;
		text-decoration: none;
		background: #0a1e3f;
		color: white;
		font-weight: bold;
		font-size: 30px;
		padding: 10px 0 ;
		width: 100%;
		outline: 0;
	}
	.btn-big-skyblue: active, .btn-big-skyblue:focus {
		outline: 0;
	}
	.btn-big-skyblue:hover {
		background: #d0021b;
		color: white;
	}
	/* Step 2 */
	#step2 {
		background: rgba(255,255,255,0.8);
		padding: 5px;
		float: left;
	}
	#step2 strong {
		padding: 10px;
		font-size: 30px;
		line-height: 36px;
		display: block;
		text-align: center;
		text-transform: uppercase;
		color: #0a1e3f;
	}
	.image_candidat {
		display: block;
		float: left;
		width: 25%;
		height: auto;
	}
	.marge {
		position: relative;
		margin: 5px;
		float: left;
	}
	.change .marge:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #65a2ff;
		opacity: 0.5;
		transition-duration: 300ms;
		display: block;
	}
	.change .marge:hover::before {
		opacity: 0;
	}
	.image_candidat img { 
		width: 100%;
		height: auto; 
		float: left;
	}
	.retour {
		position: absolute;
		right: 20px;
		font-size: 60px;
		top: 0;
		line-height: 60px;
		color: white;
		cursor: pointer;
	}
	/* Onglet Candidat */
	#bhamon .candidat_image {
		background-image: url(images/bhamon_bleu.jpg);
	}
	#ppoutou .candidat_image {
		background-image: url(images/ppoutou_bleu.jpg);
	}
	#ffillon .candidat_image {
		background-image: url(images/ffillon_bleu.jpg);
	}
	#ndupont-aignan .candidat_image {
		background-image: url(images/ndupont-aignan_bleu.jpg);
	}
	#narthaud .candidat_image {
		background-image: url(images/narthaud_bleu.jpg);
	}
	#jlmelenchon .candidat_image {
		background-image: url(images/jlmelenchon_bleu.jpg);
	}
	#mlepen .candidat_image {
		background-image: url(images/mlepen_bleu.jpg);
	}
	#ajardin .candidat_image {
		background-image: url(images/ajardin_bleu.jpg);
	}
	#emacron .candidat_image {
		background-image: url(images/emacron_bleu.jpg);
	}
	#cheminade .candidat_image {
		background-image: url(images/cheminade_bleu.jpg);
	}
	#lassalle .candidat_image {
		background-image: url(images/lassalle_bleu.jpg);
	} 
	#asselineau .candidat_image {
		background-image: url(images/asselineau_bleu.jpg);
	}
	.candidat_inner {
		 position: relative; 
		width: 600px; 
		margin: auto;
	}
	.candidat_image { 
		background-size: 100% auto;
		width: 600px;
		height: 600px;
	}
	.notation {
		position: absolute;
		top: 15px;
		left: 15px;
	}
	.note_verte {
		display: block; 
		float: left;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border-radius: 100%;
		background: green;
	}
	.note_blanche {
		display: block; 
		float: left;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border-radius: 100%;
		background: white;
	}
	.nom_candidat {
		display: block;
		text-align: center;
		font-size: 42px;
		text-transform: uppercase;
		color: white;
		padding: 140px 0 0 0;
		line-height: 40px;
	}
	.parti_candidat {
		text-align: center;
		display: block;
		color: white;
		font-size: 30px;
	}
	.avis_candidat {
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		display: block;
		text-align: center;
		font-size: 60px;
		margin: 20px 0;
		line-height: 60px;
	}
	.infos_candidat > a   {
		display: block;
		color: white;
		text-decoration: none;
		text-align: center;
		line-height: 24px;
		font-size: 20px;
		margin-bottom: 20px;
	}
	.liens_candidat {
		background: rgba(240, 248, 255,0.8);
		padding: 20px;
	}
	.liens_candidat a {
		text-align: center;
		display: inline-block;
		padding: 20px 32px;
		background: white;
		text-decoration: none;
		font-weight: bold;
		font-size: 28px;
		color: #0a1e3d;
		line-height: 36px;
		transition-duration: 300ms;
	}
	.liens_candidat a:hover {
		background: #d0021b;
		color: white;
	}
	.liens_candidat a:first-child {
		margin-right: 20px;
	}
	/* Encart final */
	#merci_inner {
		background: white;
		padding: 20px;
		text-align:center;
	}
	#merci .main-title {
		font-size: 24px;
	}
	@media (max-width:600px) {
		#interpellation, .btn-big-skyblue { 
			font-size: 28px; 
		}
		#step2 strong {
			font-size: 20px;
			line-height: 24px;
		}
		.image_candidat { 
			width: 100%;
		}
		.candidat_inner {
			width: 300px;
		}
		.candidat_image {
			width: 300px;
			height: 300px;
		}
		.note_verte, .note_verte { 
			width: 15px;
			height: 15px;
		}
		 
		.nom_candidat {  
			font-size: 24px; 
			padding: 40px 0 0 0;
			line-height: 30px;
		}
		.parti_candidat { 
			font-size: 18px;
		}
		.avis_candidat { 
			font-size: 30px;
			margin: 10px 0;
		}
		.infos_candidat > a   { 
			line-height: 18px;
			font-size: 14px;
			margin-bottom: 10px;
		}
		.liens_candidat { 
			padding: 10px;
		}
		.liens_candidat a { 
			padding: 10px 0; 
			font-size: 16px; 
			width: 100%;
		} 
		.liens_candidat a:first-child {
			margin-right: 0;
			margin-bottom: 10px;
		}

	}
</style>
<script>
	  $( function() {
	  
		$('.wrapper').hide();
	  
		var windowwidth = $(window).width();
		  if (windowwidth > 800) {
			var dialogwidth = 800;
		}
		else {
			var dialogwidth = 237;
		}
		$( "#dialog" ).dialog({
		 closeText: "X",
		 width: dialogwidth,
		 autoResize:true,
		 close: function( event, ui ) {
			$('.wrapper').show();
		 }
		});
		$('#dialog a.change').click(function(e) {
			e.preventDefault(); 
			 $('#dialog').dialog('option', 'position', 
				{ my: "center top",
				  at: "center top",
				  of: window
			});
			var target = $(this).attr('href');
			$(this).parent().hide();
			$(target).show('fade','slow'); 
		});
		$('.retour').click(function(e) {
			e.preventDefault();  
			$(this).closest('.candidat').hide();
			$('#step2').show('fade','slow'); 
		});
		$('.liens_candidat a').click(function() {
			$('#dialog').dialog('destroy').remove();
			$( "#merci" ).dialog({
				 closeText: "X",
				 width: 280,
				 autoResize:true,
				 close: function( event, ui ) {
					$('.wrapper').show();
				 }
				});
		});
	  } );
	  </script>
